// shades of green

$neutral: #221212 ;
$two: rgba(230, 215, 190, 0.8);
$deepblue: rgb(12, 12, 75);
$darkblue: #113e5b;
$darkbeige: rgba(103, 100, 52, 0.7);
$six: rgba(255, 192, 168, 0.7);
$seven: rgba(204, 192, 170);
